:root{
    --bs-primary:#483BCB !important;
    --bs-secondary:#F2AC84 !important;
    --bs-nav-link-font-size: 0.8rem;
    --bs-white:#FBFBFE;
}

@media (min-width: 1200px) {
    .side-header{
        width: 346px;
    }
}
@media (min-width: 992px) {

    .search-box{
        width: 300px;
        height: 40px;
    }
    }
.bg-dropdown-menu{
    background-color: rgba(255, 255, 255, 0.9);
}
.fs-body-small{
    font-size: 0.7rem !important;
    line-height: 140% !important;
    font-weight: normal !important;
    text-align: center;
}

.custom-popover {
  --bs-popover-max-width: 324px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after{
    border-bottom-color: var(--bs-primary);
}

.logo-brand-color{
    color: var(--bs-primary);
}

.swiper {
  height: 70px;
}
